* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-color: #eee;
}

.main_contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25%;
  gap: 15px;
  padding: 10px;
  padding-bottom: 20px;
}

.main_contenedor img {
  width: 300px;
  height: 200px;
}

.Servicios_tabla {
  margin: auto;
  position: fixed;
  margin-left: 45%;
  padding: 20px;
  height: 1000 px;
}

.Servicios_types tr li {
  color: #232d39;
  font-size: 10;
  padding: 5px;
  text-align: center;
}

.tablaServicios {
  color: #424c62;
  font-size: 10;
  padding: 5px;
  text-align: center;
}

.espacioServicios {
  margin-left: 25%;
  padding: 10px;
  height: 1000 px;
}

.footerBottom {
  position: fixed;
  display: block;
  bottom: 1%;
  margin-top: 50px;
  width: 100%;
}

.footerBottom p {
  color: #232d39;
  text-align: center;
  font-size: 12px;
}

header {
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #eee;
}

.header_logo img {
  display: block;
  margin: auto;
  width: 95px;
  height: 80px;
  padding-top: 5px;
}

.header_tituloWeb {
  color: #232d39;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}

.header_Subtitulo {
  color: #232d39;
  font-weight: 200;
  font-size: 13px;
  text-align: center;
}

.header__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-top: 26px;
}

.header__menu li a:hover {
  background-color: #424c62;
  color: #eee;
}

.header__menuitem {
  display: block;
  padding: 6px 14px;
  text-decoration: none;
}

.header__menuitem {
  color: #232d39;
  font-size: 14px;
}

.galeria_parrafo {
  margin-left: 25%;
  padding: 10px;
  height: 1000 px;
}

.galeria_parrafo p {
  color: #232d39;
  font-size: 15px;
  text-align: center;
}

#carouselExampleInterval {
  margin-left: 25%;
  padding: 10px;
  height: 1000px;
}

#carouselExampleInterval img {
  width: 1000px;
  height: 800px;
}

.formularioContacto {
  color: #232d39;
  padding: 1%;
  margin-top: 10px;
}

.espacioForm {
  margin-left: 25%;
  padding: 1px;
  height: 1000 px;
}

.proyectos_flex-container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 30%;
}

.proyectos_proyecto1 {
  background-color: #424c62;
  color: #eee;
  padding: 10px;
  border: 5px #232d39;
  margin: 10px;
  width: 250px;
  height: 400px;
  text-align: center;
  line-height: 75px;
}

.proyectos_proyecto2 {
  background-color: #424c62;
  color: #eee;
  padding: 10px;
  border: 5px #232d39;
  margin: 10px;
  width: 250px;
  height: 400px;
  text-align: center;
  line-height: 75px;
}

.proyectos_proyecto3 {
  background-color: #424c62;
  color: #eee;
  padding: 10px;
  border: 5px #232d39;
  margin: 10px;
  width: 250px;
  height: 400px;
  text-align: center;
  line-height: 75px;
}

.proyectos_parrafos {
  background-color: #424c62;
  font-size: 10px;
  line-height: 20px;
}

.proyectos_fotografia {
  background-color: #424c62;
}

.proyectos_fotografia img {
  width: 200px;
  padding-top: 20px;
  background-color: #424c62;
}

.sobre_mi_parrafo {
  margin-left: 25%;
  padding: 10px;
  height: 1000 px;
}
