* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-color: #eee;
}

.contenedor_global {
  min-height: calc(100vh - 20px);
}

.main_contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25%;
  gap: 15px;
  padding: 10px;
  padding-bottom: 20px;
  min-height: calc(100vh - 20px);
  overflow: hidden;
}

.main_contenedor img {
  width: 300px;
  height: 200px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.main_contenedor img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.Servicios_tabla {
  margin: auto;
  position: fixed;
  margin-left: 45%;
  padding: 20px;
  height: 1000 px;
}

.Servicios_types tr li {
  color: #232d39;
  font-size: 10;
  padding: 5px;
  text-align: center;
}

.tablaServicios {
  color: #424c62;
  font-size: 10;
  padding: 5px;
  text-align: center;
}

.espacioServicios {
  margin-left: 25%;
  padding: 10px;
  height: 1000 px;
}

.footerBottom {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  bottom: 0;
  /*margin-top: 50px;*/
  width: 100%;
  height: 20px;
}

.footerBottom p {
  color: #232d39;
  text-align: center;
  font-size: 12px;
}

header {
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #eee;
}

.header_logo img {
  display: block;
  margin: auto;
  width: 95px;
  height: 80px;
  padding-top: 5px;
}

.header_tituloWeb {
  color: #232d39;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}

.header_Subtitulo {
  color: #232d39;
  font-weight: 200;
  font-size: 13px;
  text-align: center;
}

.header__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-top: 26px;
  overflow: auto;
}

.header__links ul li a:hover {
  background-color: #424c62;
  color: #eee;
}

.header__links ul:hover a {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.header__links ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-filter: none;
          filter: none;
}

.header__menuitem {
  display: block;
  padding: 6px 14px;
  text-decoration: none;
}

.header__menuitem {
  color: #232d39;
  font-size: 14px;
}

.redes_container {
  position: fixed;
  bottom: 10px;
}

.redes_container ul li {
  display: inline-block;
  margin: 0 6px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.redes_container ul li a {
  display: block;
  padding: 0px 0px;
  background-color: #424c62;
  color: #eee;
  line-height: 25px;
  font-size: 16px;
  -webkit-box-shadow: 0 3px 3px 0px #424c62;
          box-shadow: 0 3px 3px 0px #424c62;
  -webkit-transition: .2s;
  transition: .2s;
}

.redes_container ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.redes_container ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-filter: none;
          filter: none;
}

.redes_container ul li .redes_facebook:hover {
  background-color: #3b5999;
}

.redes_container ul li .redes_instagram:hover {
  background-color: #e4405f;
}

.redes_container ul li .redes_twitter:hover {
  background-color: #55acee;
}

@media (max-width: 700px) {
  .header {
    width: 100%;
    height: auto;
    position: relative;
  }
  .header__menu {
    width: 100%;
    height: auto;
    position: relative;
  }
  .header__menu ul li {
    float: left;
  }
  .header__menu ul li div.content {
    margin-left: 0;
  }
  .main_contenedor {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 100%;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.galeria_parrafo {
  margin-left: 25%;
  padding: 10px;
  height: 1000 px;
  padding-top: 50px;
}

.galeria_parrafo p {
  color: #232d39;
  font-size: 15px;
  text-align: center;
  font-style: italic;
}

#carouselExampleInterval {
  margin-left: 25%;
  padding: 10px;
  height: 1000px;
}

#carouselExampleInterval img {
  width: 900px;
  height: 800px;
}

.formularioContacto {
  color: #232d39;
  padding: 1%;
  margin-top: 10px;
}

.espacioForm {
  width: 500px;
  height: auto;
  margin-left: 30%;
  border-radius: 10px;
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: #fefefe;
  padding-left: 40px;
}

input {
  background-color: #fbfbfb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #bba286;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

#comentarios {
  background-color: #fbfbfb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #bba286;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

button {
  height: 25px;
  padding-left: 3px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 5px;
  text-transform: uppercase;
  background-color: #bba286;
  border-color: #232d39;
  border-style: solid;
  border-radius: 50px;
  width: 200px;
  cursor: pointer;
  text-align: center;
}

HASTA
ACAAAA
button p {
  color: #fff;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.proyectos_flex-container {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: 30%;
  padding-top: 100px;
}

.proyectos_proyecto1 {
  background-color: #424c62;
  color: #eee;
  padding: 10px;
  border: 5px #232d39;
  margin: 10px;
  width: 250px;
  height: 400px;
  text-align: center;
  line-height: 75px;
}

.proyectos_proyecto2 {
  background-color: #424c62;
  color: #eee;
  padding: 10px;
  border: 5px #232d39;
  margin: 10px;
  width: 250px;
  height: 400px;
  text-align: center;
  line-height: 75px;
}

.proyectos_proyecto3 {
  background-color: #424c62;
  color: #eee;
  padding: 10px;
  border: 5px #232d39;
  margin: 10px;
  width: 250px;
  height: 400px;
  text-align: center;
  line-height: 75px;
}

.proyectos_parrafos {
  background-color: #424c62;
  font-size: 10px;
  line-height: 20px;
}

.proyectos_fotografia {
  background-color: #424c62;
}

.proyectos_fotografia img {
  width: 200px;
  padding-top: 20px;
  background-color: #424c62;
}

.sobre_mi_parrafo {
  margin-left: 25%;
  padding: 10px;
  height: 1000px;
}

.contenedor_about {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.contenedor_about img {
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  -webkit-box-shadow: 0 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.contenedor_about img:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.sobre_mi_parrafo p {
  text-align: center;
  margin-top: 20px;
  padding-top: 80px;
}

.sobre_mi_parrafo a {
  text-decoration: none;
  color: #424c62;
  font-style: italic;
}
