*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-color: $blanco;
  overflow: auto;
  min-height: 100vh;
  position: relative;
  padding-bottom: 2.5rem;
}

/*.contenedor_global {
  min-height: calc(100vh - 20px);
}*/