.formularioContacto{
  color: $color-primario;
  padding: 1%;
  margin-top: 10px;
}

.espacioForm {
  width: 500px;
  height: 620px;
  margin-left: 30%;
	border-radius: 10px;  
	margin-top: 30px;
	padding-bottom: 30px;  
  background-color: #fefefe; 
  padding-left: 40px;

}

input{
	background-color: #fbfbfb; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: $color-terciario; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}

.comentarios {
  background-color: #fbfbfb; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: $color-terciario; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px;
}

button{
  height: 25px; 
	padding-left: 3px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 5px; 	
	text-transform: uppercase;
	background-color: $color-terciario; 
	border-color: $color-primario; 
	border-style: solid; 
	border-radius: 50px;	
	width: 200px;
  cursor: pointer;
  text-align: center;
}


.formularioContacto h2 {
  font-size: 22px;
}

.formularioContacto label {
  font-size: 14px;
}

::-webkit-input-placeholder {
  font-size: 13px;
}

#sexo{
  font-size: 13px;
}