.galeria_parrafo {
    margin-left: 25%;
    padding: 10px;
    height: 100%;
    padding-top: 50px;
}

.galeria_parrafo p {
  color: $color-primario;
  font-size: 15px;
  text-align: center;
  font-style:italic;
}

#carouselExampleInterval {
  margin-left: 25%;
  padding: 20px;
  height: 100%;
}

#carouselExampleInterval img {
/*width: 700px;
height: 500px;*/
max-width: 70%;
margin: auto;
}

