.Servicios__tabla {
  position: fixed;
  margin-left: 30%;
  padding: 20px;
  height: 100%;
  padding-top: 100px;
  max-width: 840px;
  }

  .Servicios__tabla h1 {
    text-align: center;
  }

  .Servicios_types_titulos{
    color: $color-primario;
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }

.Servicios_types {
  color: $color-primario;
  font-size: 15px;
  padding: 5px;
  text-align: center;
}
.Servicios_types_titulos th{
  padding: 10px;
  text-align: center;
}
.tablaServicios{
  color: rgb(66, 76, 98);
  font-size: 10;
  padding: 5px;
  text-align: center;
}
.espacioServicios {
  margin-left: 25%;
  padding: 10px;
  height: 1000 px;
}