.sobre_mi_parrafo {
  margin-left: 25%;
  padding: 10px;
  height: 100%;
}

.contenedor_about {
  width: 100%;
  max-width: 100%;
  /*margin: auto;*/
  margin-top: 50px;
}

.contenedor_about img {
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  box-shadow: 0 5px 0px rgba(0, 0, 0,0.3);
  border-radius: 5px;
  }


.contenedor_about img:hover {
-webkit-transform: rotateY(180deg);
-webkit-transform-style: preserve-3d;
transform: rotateY(180deg);
transform-style: preserve-3d;
}

.sobre_mi_parrafo p {
  text-align: center;
  margin-top: 20px;
  padding-top: 80px;
}

.sobre_mi_parrafo a {
  text-decoration: none;
  color: $color-secundario;
  font-style: italic;
  }
